.moviesPlaying {
  position: relative;
  padding: 40px 0;
  background-image: url('https://homepage.momocdn.net/img/momo-upload-api-210701105436-637607336767432408.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  color: #fff;
  min-height: 574px;
  background-color: rgba(0, 0, 0, 1);
  .playing-movie {
    padding: 0 200px;

    .heading-movie {
      font-weight: 700;
      margin-bottom: 32px;
      text-align: center;
    }
    .list-movie {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      transform: translate3d(0px, 0px, 0px);
      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    .btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 42%;
      width: 4.4rem;
      height: 4.4rem;
      color: rgb(0 0 0);
      background-color: rgb(255 255 255);
      border: 1px solid rgb(229 229 229);
      transform: translateY(-50%);
      border-radius: 9999px;
      cursor: pointer;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
      &.left {
        left: -1.5rem;
        z-index: 9999;
      }
      &.right {
        right: -1.5rem;
      }
      &.hidden {
        display: none;
      }

      &:hover {
        background-color: #e5e5e5;
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}

/* movie-item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item-link {
  text-decoration: none;
  color: #fff;
}

.home-product-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -20%);
  z-index: 1000;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img {
  position: relative;
  height: 312px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #424242;
  border-radius: 4px;
}

.home-product-item__img-top {
  position: relative;
  display: flex;
  height: 255px;
  border: 1px solid #424242;
  border-radius: 4px;
  width: 340px;
}

.home-product-item__img-top:hover {
  border: 2px solid #a0a2b4;
}

.home-product-item__name-top:hover {
  text-decoration: underline;
}

.home-product-item__number {
  position: absolute;
  bottom: -5%;
  left: 1%;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 1000;
}

.home-product-item__name {
  margin: 20px 0px 6px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__name-top {
  margin: 12px 0px 8px !important;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  font-size: 1.3rem;
  color: #9e9d9d;
  margin-right: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: #f06448;
}

.home-product-item__action {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__heart-like .home-product-item__heart-like-fill {
  display: inline-block;
}

.home-product-item__heart-like .home-product-item__heart-like-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1.3rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__sold {
  font-size: 1.3rem;
  margin-left: 6px;
}

.home-product-item__sold-black {
  font-size: 1.3rem;
  color: #000;
  margin-left: 6px;
}

.home-product-item__rating-gold {
  color: #fbbf24;
  font-size: 1.4rem;
}

.home-product-item__origin {
  margin: 4px 10px 0;
  display: flex;
  justify-content: space-between;
}

.home-product-item__brand {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__origin-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--primary-color);
  background-color: #9b2020;
  border-radius: 3px;
}

.home-product-item__favourite::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  background-color: #9b2020;
  padding: 4px 5px;
  border-radius: 3px;
}

.age16 {
  background-color: #e88021 !important;
}

.age13 {
  background-color: #ddbc3f !important;
}

.home-product-item__sale-off16 {
  position: absolute;
  top: 7px;
  right: 6px;
  text-align: center;
  width: 82px;
  height: 24px;
  background-color: #ff4d4d;
  border-radius: 5px;
}

.home-product-item__sale-off-percent {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #ee4d2d;
}

.home-product-item__sale-off-label16 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: var(--white-color);
}

.home-product-item__sale-off-label18 {
  display: none;
}

.home-product-item__sale-off-label13 {
  display: none;
}

.home-product_pagination {
  margin: 50px 0 32px 0;
}
