.wrap {
  width: 100%;
  height: 62px;
  h1,
  h2,
  h3 {
    margin: 0;
  }

  .main {
    margin-top: 62px;
    max-width: 100%;
  }
}
.moviesTop {
  display: block;
  margin-top: 66px;
  padding: 64px 0;
  background-image: url('https://homepage.momocdn.net/img/momo-upload-api-211001091715-637686766356856456.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  //   height: 674px;
  background-color: rgba(0, 0, 0, 1);
  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 8px;
      text-align: center;
      font-size: 3.6rem;
      line-height: 1.25;
      span {
        color: var(--pri-color);
      }
    }

    h3 {
      font-size: 1.8rem;
      line-height: 2.8rem;
      text-align: center;
      color: hsla(0, 0%, 100%, 0.8);
      margin-bottom: 36px;
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    .btn-more {
      display: block;
      padding: 9px 12px;
      background-color: var(--pri-color);
      border-radius: 5px;
      border-color: transparent;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;

      &:hover {
        background-color: rgba(216, 45, 139, 0.9);
      }
    }
  }
}
.home-product-item-link {
  text-decoration: none;
  color: #fff;
}

.home-product-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img-top {
  position: relative;
  display: flex;
  height: 255px;
  border: 1px solid #424242;
  border-radius: 4px;
  width: 340px;
}

.home-product-item__img-top:hover {
  border: 2px solid #a0a2b4;
}

.home-product-item__name-top:hover {
  text-decoration: underline;
}

.home-product-item__number {
  position: absolute;
  bottom: -5%;
  left: 1%;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 1000;
}

.top1 {
  z-index: 5;
  z-index: 5000;
  border-radius: 4px;
  width: 50%;
  border: 2px solid #9d99a2;
  border-radius: 4px;
}

.top2 {
  position: absolute;
  left: 12.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 4000;
  border: 2px solid #9d99a2;
}
.top3 {
  position: absolute;
  left: 25%;
  height: 100%;
  border-radius: 4px;
  z-index: 3000;
  border: 2px solid #9d99a2;
}
.top4 {
  position: absolute;
  left: 37.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 2000;
  border: 2px solid #9d99a2;
}
.top5 {
  position: absolute;
  left: 50%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #9d99a2;
  z-index: 1000;
}

.home-product-item__name-top {
  margin: 12px 0px 8px !important;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  font-size: 1.3rem;
  color: #9e9d9d;
  margin-right: 6px;
}

.home-product-item__price-old-top {
  font-size: 1.3rem;
  color: rgb(212 212 212);
}

.home-product-item__action-top {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
  font-size: 1.2rem;
  color: rgb(163 163 163);
}

.home-product-item__sold {
  font-size: 1.3rem;
  margin-left: 6px;
}

.home-product-item__brand {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__origin-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product_pagination {
  margin: 50px 0 32px 0;
}

.contain {
  padding: 3.6rem 2.2rem 4rem;
  max-width: 113rem;
  margin-left: auto;
  margin-right: auto;
  // border-bottom: 1px solid rgb(229, 229, 229);

  .top-film {
    padding-right: 5rem;
    .list-top-film {
      display: flex;
      padding-bottom: 1.2rem;
      padding-top: 2.8rem;
      border-bottom: 1px solid #e5e5e5;
      .top-film-item {
        padding-bottom: 2.4rem;

        .list-image {
          position: relative;
          display: flex;
          width: 24rem;
          height: 13.5rem;
          outline-color: rgba(0, 0, 0, 0.2);
          border-radius: 0.8rem;
          overflow: hidden;
          box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.05);
          &:hover {
            cursor: pointer;
            border: 1px solid #a0a2b4;
          }
          .image1 {
            position: absolute;
            top: 0;
            left: 0%;
            height: 100%;
            width: 9rem;
            z-index: 5;
            img {
              border: 1px solid #e5e5e5;
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 0.8rem;
            }
          }
          .image2 {
            position: absolute;
            top: 0;
            left: 15.625%;
            height: 100%;
            width: 9rem;
            z-index: 4;
            img {
              border: 1px solid #e5e5e5;
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 0.8rem;
            }
          }
          .image3 {
            position: absolute;
            top: 0;
            left: 31.25%;
            height: 100%;
            width: 9rem;
            z-index: 3;
            img {
              border: 1px solid #e5e5e5;
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 0.8rem;
            }
          }
          .image4 {
            position: absolute;
            top: 0;
            left: 46.875%;
            height: 100%;
            width: 9rem;

            z-index: 2;
            img {
              border: 1px solid #e5e5e5;
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 0.8rem;
            }
          }
          .image5 {
            position: absolute;
            top: 0;
            left: 62.5%;
            height: 100%;
            width: 9rem;
            z-index: 1;
            img {
              border: 1px solid #e5e5e5;
              position: absolute;
              display: block;
              height: 100%;
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 0.8rem;
            }
          }
        }
      }
      .content {
        margin-left: 2.8rem;
        .title {
          font-size: 1.8rem;
          line-height: 1.25;
          color: rgb(64 64 64);
          font-weight: 700;

          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          font-size: 1.3rem;
          line-height: 1.8rem;
          color: rgb(82 82 82);
          font-weight: 300;
          margin-top: 8px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .view {
          position: relative;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          line-height: 1.6rem;
          color: rgb(115 115 115);
          margin-top: 1.2rem;
          div {
            position: relative;
            padding-left: 6px;
            margin-right: 8px;
            span {
              position: absolute;
              display: block;

              align-items: center;
              top: -11px;
            }
          }
        }
      }
    }
    .list-top-film:first-child {
      padding-top: 0;
    }
    .list-top-film:last-child {
      border-bottom: none;
    }
  }

  .film-playing {
    // padding-left: 4rem;
    h3 {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }
    .list-film-playing {
      .film-item {
        padding: 1.2rem 0;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        .image-film {
          width: 6.4rem;
          height: 9.6rem;
          border-radius: 0.2rem;
          a {
            text-decoration: none;
            border: none;
            img {
              max-width: 100%;
              max-height: 100%;
              border-radius: 0.2rem;
              transition-duration: 0.2s;
              &:hover {
                --tw-scale-x: 1.02;
                --tw-scale-y: 1.02;
                transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(var(--tw-scale-x))
                  scaleY(var(--tw-scale-y));
              }
            }
          }
          .number {
            position: absolute;
            color: #fff;
            bottom: 1.2rem;
            left: 0.4rem;
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 700;
            z-index: 5;
          }
        }
        .detail-film {
          padding-left: 1.6rem;
          position: relative;

          .age {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 3rem;
            height: 2rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6rem;
            margin-bottom: 0.6rem;

            color: #fff;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
            border-radius: 0.2rem;
            &.age18 {
              background-color: #9b2020;
            }
            &.age16 {
              background-color: #e88021;
            }
            &.age13 {
              background-color: #ddbc3f;
            }
          }

          a {
            text-decoration: none;
            .name {
              color: rgb(38 38 38);
              line-height: 1.25;
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
          .type {
            color: rgb(115 115 115);
            font-size: 1.3rem;
            margin-top: 0.4rem;
          }
          .evaluate {
            display: flex;
            align-items: center;
            color: rgb(82 82 82);
            font-size: 1.3rem;
            margin-top: 0.3rem;
            span {
              color: rgb(251 191 36);
              margin-right: 0.4rem;
            }
          }
        }
      }
      .film-item:last-child {
        border-bottom: none;
      }
    }
  }
}

// Block
.block {
  padding: 0px 0px 80px;

  .title {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    color: rgb(216, 45, 139);
  }

  .descriptions {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;

    .description-item + .description-item {
      margin-top: 16px;
    }
  }
}

.block::before {
  content: '';
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  width: 72%;
  border: 1px solid #e5e5e5;
}
