.wrap {
  width: 100%;
  height: 62px;
  h1,
  h2,
  h3 {
    margin: 0;
  }

  .main {
    margin-top: 62px;
    max-width: 100%;

    .breadcrumb {
      padding: 2rem 0;

      .details-path {
        padding: 0 3rem;
        max-width: 118rem;
        margin-left: auto;
        margin-right: auto;

        .list-path {
          display: flex;
          list-style: none;
          margin-bottom: 0;
          .path-item {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(38 38 38);
            font-size: 1.4rem;

            a {
              text-decoration: none;
              color: rgb(38 38 38);
            }

            a:hover {
              color: var(--pri-color);
              cursor: pointer;
            }
            span {
              color: rgb(115, 115, 115);
            }
            .homeIcon {
              margin-top: -4px;
              font-size: 1.7rem;
            }
            .iconRight {
              margin-right: 8px;
              margin-left: 8px;
              font-size: 1rem;
              color: rgb(115, 115, 115);
            }
          }
        }
      }
    }

    .detail-movie {
      position: relative;
      padding: 24px 32px;
      min-height: 480px;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      width: 100%;

      .contain {
        position: relative;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
        .detail-img {
          // position: relative;
          max-width: 256px;
          z-index: 3;
          .img {
            overflow: hidden;
            width: 254px;
            height: 382px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            border: 1px solid hsla(0, 0%, 100%, 0.2) !important;
          }
        }
        .pauseIcon {
          position: relative;
          max-width: 60px;
          top: -50%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 400;
          svg:hover {
            cursor: pointer;
            animation: 0.5s scaleM ease-in-out;
          }
        }
        @keyframes scaleM {
          50% {
            transform: scale(1.2);
          }
        }
        .info {
          width: auto;
          z-index: 3;
          color: #fff;
          margin-left: 40px;

          .info-old16 {
            font-size: 1.2rem;
            max-width: 3rem;
            padding: 2px 4px 1px;
            border-radius: 2px;
            background-color: #e88021;
            font-weight: 500;
          }
          .info-old18 {
            font-size: 1.2rem;
            max-width: 3rem;
            padding: 2px 4px 1px;
            border-radius: 2px;
            background-color: #9b2020;
            font-weight: 500;
          }
          .info-title {
            font-size: 3.6rem;
            line-height: 4rem;
            font-weight: 700;
            margin-top: 8px;
          }
          .list-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            font-size: 1.6rem;
            line-height: 2.4rem;
            text-align: center;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.6);
            margin: 4px 0 0 0;
            padding: 0;
            .title-item + .title-item {
              margin-left: 8px;
            }
            .item-center {
              transform: translateY(-16%);
            }
          }
          .info-evaluate {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 12px;
          }
          .starIcon {
            font-size: 1.7rem;
            color: #ddbc3f;
            transform: translateY(-10%);
          }
          .numberStar {
            font-size: 2.2rem;
            line-height: 3.2rem;
            font-weight: 700;
            margin-left: 6px;
            margin-right: 6px;
          }
          .numberEvaluate {
            display: flex;
            flex-direction: column;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 300;
            font-size: 1rem;
            line-height: 1rem;
          }
          p {
            margin-bottom: 1.6rem;
            color: rgba(255, 255, 255, 0.6);
            font-style: italic;
            font-weight: 400;
          }
          h3 {
            font-weight: 700;
            color: rgba(255, 255, 255, 0.9);
          }
          .content {
            margin-top: 4px;
            font-size: 1.32rem;
            line-height: 2.4rem;
            color: rgba(255, 255, 255, 0.7);
          }
          .type-date-origin {
            margin-top: 16px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            .item {
              display: flex;
              flex-direction: column;
              .item-title {
                font-size: 1.35rem;
                color: rgba(255, 255, 255, 0.6);
              }
              .item-content {
                margin-top: 4px;
                font-weight: 700;
                font-size: 1.4rem;
                text-align: center;
                line-height: 2rem;
                color: rgba(255, 255, 255, 0.9);
              }
            }

            .item + .item {
              margin-left: 2.4rem;
            }
          }
          .book-ticket {
            display: flex;
            align-items: center;
            .btn-book-ticket {
              margin-right: 14px;
              font-size: 1.4rem;
              padding: 4px 16px;

              background-color: var(--pri-color);
              border-radius: 5px;
              border-color: transparent;
              color: #fff;
              font-weight: 700;
            }
            .btn-book-ticket:hover {
              background-color: rgba(216, 45, 139, 0.85);
            }
            span {
              margin-right: 2px;
              font-weight: 500;
              color: rgba(255, 255, 255, 0.7);
            }
            .quantity {
              width: 5rem;
              height: 2.7rem;
              text-align: center;
              font-size: 1.4rem;
              background-color: rgb(115 115 115);
              color: rgb(245 245 245);
              border: 1px solid rgba(255, 255, 255, 0.5);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  .detail-movie::after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 150px, rgba(0, 0, 0, 0.6) 100%);
  }
}

.moviesTop {
  display: block;
  margin-top: 40px;
  padding: 40px 0 0;
  color: #000;
  height: 600px;

  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 24px;
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    // .btn-more {
    //   display: block;
    //   padding: 9px 12px;
    //   background-color: var(--pri-color);
    //   border-radius: 5px;
    //   border-color: transparent;
    //   margin: auto;
    //   margin-top: 60px;
    //   margin-bottom: 60px;
    //   color: #fff;
    //   font-size: 1.4rem;
    //   font-weight: 700;

    //   &:hover {
    //     background-color: rgba(216, 45, 139, 0.9);
    //   }
    // }
  }
}

/* movie-item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item-link {
  text-decoration: none;
  color: #fff;
}

.home-product-item-up {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -20%);
  z-index: 1000;
}

.home-product-item:hover {
  transform: translateY(-1px);
}

.home-product-item__img-top {
  position: relative;
  display: flex;
  height: 255px;

  border-radius: 4px;
  width: 340px;
}

.home-product-item__name-top:hover {
  text-decoration: underline;
}

.home-product-item__number {
  position: absolute;
  bottom: -5%;
  left: 1%;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 1000;
}

.top1 {
  z-index: 5;
  z-index: 5000;
  border-radius: 4px;
  width: 50%;
  border: 2px solid #9d99a2;
  border-radius: 4px;
}

.top2 {
  position: absolute;
  left: 12.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 4000;
  border: 2px solid #9d99a2;
}
.top3 {
  position: absolute;
  left: 25%;
  height: 100%;
  border-radius: 4px;
  z-index: 3000;
  border: 2px solid #9d99a2;
}
.top4 {
  position: absolute;
  left: 37.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 2000;
  border: 2px solid #9d99a2;
}
.top5 {
  position: absolute;
  left: 50%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #9d99a2;
  z-index: 1000;
}

.home-product-item__name {
  margin: 20px 0px 6px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__name-black {
  margin: 20px 0px 6px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__name-top {
  margin: 12px 0px 8px !important;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  font-size: 1.3rem;
  color: #9e9d9d;
  margin-right: 6px;
}

.home-product-item__price-old-top {
  font-size: 1.3rem;
  color: rgb(82 82 82);
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: #f06448;
}

.home-product-item__action {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
}

.home-product-item__action-top {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
  font-size: 1.2rem;
  color: rgb(82 82 82);
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__heart-like .home-product-item__heart-like-fill {
  display: inline-block;
}

.home-product-item__heart-like .home-product-item__heart-like-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1.3rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__sold {
  font-size: 1.3rem;
  margin-left: 6px;
}

.home-product-item__sold-black {
  font-size: 1.3rem;
  color: #000;
  margin-left: 6px;
}

.home-product-item__rating-gold {
  color: #fbbf24;
  font-size: 1.4rem;
}

.home-product-item__origin {
  margin: 4px 10px 0;
  display: flex;
  justify-content: space-between;
}

.home-product-item__brand {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__origin-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--primary-color);
  background-color: #9b2020;
  border-radius: 3px;
}

.home-product-item__favourite::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  background-color: #9b2020;
  padding: 4px 5px;
  border-radius: 3px;
}

.sixteen {
  background-color: #e88021 !important;
}

.thirteen {
  background-color: #ddbc3f !important;
}

.p {
  background-color: #579b41 !important;
}

.k {
  background-color: #006ee6 !important;
}

.home-product-item__sale-off {
  position: absolute;
  top: 7px;
  right: 6px;
  text-align: center;
  width: 82px;
  height: 24px;
  background-color: #ff4d4d;
  border-radius: 4px;
}

.home-product-item__sale-off-percent {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #ee4d2d;
}

.home-product-item__sale-off-label {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: var(--white-color);
}

.home-product_pagination {
  margin: 50px 0 32px 0;
}

// Block
.block {
  padding: 0px 0px 80px;

  .title {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    color: rgb(216, 45, 139);
  }

  .descriptions {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;

    .description-item + .description-item {
      margin-top: 16px;
    }
  }
}

.block::before {
  content: '';
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  width: 72%;
  border: 1px solid #e5e5e5;
}
