.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.header .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.header .nav a {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 600;
}
.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6633;
  border-radius: 5px;
  bottom: -6px;
  transform: scaleX(0);
  transition: 0.5s;
}
.nav a:hover::after {
  transform: scaleX(1);
}
.home {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/bg1.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 80px 100px 0;
  align-items: center;
}
.content {
  max-width: 570px;
  color: #fff;
}
.content h2 {
  font-size: 3em;
  letter-spacing: 0.3em;
  color: #ff6633;
}
.content p {
  margin: 10px 0 40px;
}
.btn-start {
  color: #fff;
  font-size: 1.3rem;
  border: 2px solid #ff6633;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 40px;
  transition: 0.5s;
  background-color: transparent;
}
.btn-start:hover {
  background-color: rgba(229, 9, 20, 1);
  border-color: transparent;
  cursor: pointer;
}
.login {
  position: relative;
  width: 440px;
  outline: none;
}
.login h2 {
  text-align: center;
  color: #ff6633;
  font-size: 2em;
  margin-bottom: 24px;
}

.form-gr {
  position: relative;
  width: 100%;
  height: 50px;

  + .form-gr {
    margin-top: 28px;
  }
  .title-input {
    background-color: transparent;
    position: absolute;
    user-select: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;

    svg {
      margin-right: 12px;
    }
  }
  input {
    height: 50px;
    width: 100%;
    border: 2px solid #ff6633;
    border-radius: 40px;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 14px !important;
    padding-left: 16px;
    padding-top: 12px;
    transition: all 0.3s linear;
    background-color: transparent;

    &::placeholder-shown {
      font-size: 14px;
    }

    &:focus {
      box-shadow: none;
      border-color: transparent transparent #ced4da transparent;
      border-radius: 0px 0px 0px 8px;
      background-color: transparent;
      & + .title-input {
        font-weight: 600;
        color: #ff6633;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
        font-size: 12px;
        padding: 0 10px;
        top: 0;
        transform: translateY(-50%);
      }
    }
  }

  input[value]:not([value='']) {
    box-shadow: none;
    border-color: transparent transparent #ced4da transparent;
    border-radius: 0px 0px 0px 10px;
    color: #fff;
    caret-color: #fff;
    & + .title-input {
      background-color: transparent;
      font-size: 12px;
      padding: 0 10px;
      top: 0;
      transform: translateY(-50%);
    }
  }
}

.check {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}

.remember-forgot {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500px;
  margin: 24px 4px 15px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.submit {
  width: 100%;
  height: 50px;
  border: 1px solid #ff6633;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  transition: 0.5s;
  background-color: #ff6633;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: rgba(229, 9, 20, 1);
    border-color: transparent;
  }
}
.register-link {
  display: flex;
  justify-content: center;
  color: #fff;
}
.register-link p {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
}
.register-link a {
  display: flex;
  align-items: center;
  margin-left: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register-link a:hover {
  text-decoration: underline;
}

.err {
  color: rgba(229, 9, 20, 1);
  font-size: 1.4rem;
  float: right;
  margin: -4px 8px 16px 0;
}
