.wrap {
  width: 100%;
  height: 62px;
  h1,
  h2,
  h3 {
    margin: 0;
  }

  .header {
    .header-nav {
      position: fixed;
      background-color: #282828;
      padding: 0 0 0 0;
      top: 0;
      left: 0px;
      right: 0;
      display: flex;
      z-index: 1000;
      justify-content: space-between;
      align-items: center;
      padding: 12px 30px;
      transition: all 0.3s linear;

      &.re-active {
        transform: translateY(-100%);
      }
      .logo {
        a {
          font-size: 28px;
          display: block;
          text-decoration: none;
          color: #fff;
          span {
            color: var(--pri-color);
          }
        }
      }

      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .controls-list {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          margin-right: 10px;
          list-style: none;
          padding: 0;
          .controls-item {
            color: #fff;
            a {
              text-decoration: none;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 1px;
              color: #fff;
              padding: 8px 26px;
              transition: all 0.4s linear;
            }

            &.active {
              a {
                color: var(--pri-color);
                border: 1px solid #fff;
                border-radius: 4px;
              }
            }
          }
        }

        .icon-out {
          font-size: 14px;
          margin-right: 100px;
          color: #fff;

          .logout {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: -10px;
                right: 10px;
                height: 30px;
                width: 30%;
              }
              &:hover {
                svg {
                  opacity: 0.7;
                }
                & .menu {
                  display: block;
                }
              }
            }

            h2 {
              font-size: 14px;
            }

            svg {
              font-size: 14px;
              padding: 12px 16px;
              cursor: pointer;
              position: relative;
            }

            .menu {
              position: absolute;
              top: 100%;
              right: 10px;
              min-width: 200px;
              background-color: #fff;
              border-radius: 4px;
              display: none;
              transition: all 0.3s ease;
              animation: show 0.3s ease;
              border: 1px solid #ccc;

              @keyframes show {
                0% {
                  top: calc(100% - 12px);
                }
                100% {
                  top: 100%;
                }
              }

              h2 {
                padding: 10px 30px 10px 16px;
                font-size: 12px;
                color: #383838;
                font-weight: 600;

                span {
                  display: inline-block;
                  margin: 0 12px 0 0;

                  svg {
                    padding: 0;
                    color: #383838;
                    cursor: auto;
                  }
                }
              }

              ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 12px;
                li {
                  cursor: pointer;
                  border-top: 1px solid #383838;
                  padding: 10px 30px 10px 16px;
                  color: #383838;
                  font-weight: 500;
                  transition: all 0.2s linear;
                  &:hover {
                    background-color: #383838;
                    color: #fcfcfc;
                  }

                  &:last-child {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main {
    margin-top: 62px;
    max-width: 100%;
  }
}
.search {
  position: relative;
  height: 40px;
  padding-left: 16px;
  background-color: rgb(18, 18, 18);
  display: flex;
  border-radius: 92px;
  border: 1.5px solid #474141;

  input {
    flex: 1;
    height: 100%;
    padding-right: 40px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    color: #888888;
    background-color: #121212;
    caret-color: #fff;
    border-color: transparent;
    outline: none;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: #fff;
  }

  input:not(:placeholder-shown) {
    color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    top: 9px;
    right: 43px;
    background-color: #888888;
    height: calc(40px - (9px * 2));
  }

  &:focus-within {
    border-color: blue;
  }

  &:hover {
    border-color: #ede6e6;
  }
}

// .clear,
// .loading {
//   position: absolute;
//   right: calc(52px + 16px);
//   top: 50%;
//   transform: translateY(-50%);
//   color: rebeccapurple;
// }

// .loading {
//   animation: spinner 0.8s linear infinite;
// }

// @keyframes spinner {
//   from {
//     transform: translateY(-50%) rotate(0);
//   }
//   to {
//     transform: translateY(-50%) rotate(360deg);
//   }
// }

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 42px;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.3rem;
  color: #888888;
  border-color: transparent;
  background-color: rgb(18, 18, 18);

  &:hover {
    cursor: pointer;
    background-color: var(--pri-color);
    color: #fff;
  }

  // &:active {
  //   background-color: blue;
  // }
}

.search-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: transparent;
  padding: 5px 12px;
}

// style='background-image: url("https://cf.shopee.vn/file/a7af5ef0ad82f9f40381dbfc43486718"); background-size: contain; background-repeat: no-repeat;'

.landing {
  padding: 80px 200px;
  background-color: #fff0f6;
  .landing-item {
    .landing-content {
      text-align: left;
      .btn {
        display: flex;
        padding: 9px 12px;
        background-color: var(--pri-color);
        border-radius: 5px;
        border-color: transparent;
        margin-top: 24px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;

        &:hover {
          background-color: rgba(216, 45, 139, 0.8);
        }
      }
    }
    img {
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 532px;
    }
  }
}

.landing-header {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #d82d8b;
}

.services {
  margin-top: 24px;
  list-style: none;
  padding: 0;
}

.service-description {
  display: flex;
  svg {
    margin-right: 6px;
  }
}

.service-description + .service-description {
  margin-top: 16px;
}

.moviesPlaying {
  position: relative;
  padding: 40px 0;
  background-image: url('https://homepage.momocdn.net/img/momo-upload-api-210701105436-637607336767432408.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  color: #fff;
  height: 574px;
  background-color: rgba(0, 0, 0, 1);
  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 32px;
      text-align: center;
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
  }
}

.moviesUpcoming {
  position: relative;
  padding: 40px 0;
  color: #fff;
  height: 634px;
  margin-bottom: 40px;
  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 32px;
      text-align: center;
      color: var(--pri-color);
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    .btn-search-movie {
      display: block;
      padding: 9px 12px;
      background-color: var(--pri-color);
      border-radius: 5px;
      border-color: transparent;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;

      &:hover {
        background-color: rgba(216, 45, 139, 0.8);
      }
    }
  }
}

.moviesTop {
  display: block;
  margin-top: 40px;
  padding: 40px 0;
  background-image: url('https://homepage.momocdn.net/img/momo-upload-api-211001091715-637686766356856456.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 660px;
  background-color: rgba(0, 0, 0, 1);
  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 32px;
      text-align: center;
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    .btn-more {
      display: block;
      padding: 9px 12px;
      background-color: var(--pri-color);
      border-radius: 5px;
      border-color: transparent;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;

      &:hover {
        background-color: rgba(216, 45, 139, 0.9);
      }
    }
  }
}

/* movie-item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item-link {
  text-decoration: none;
  color: #fff;
}

.home-product-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item-up {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  transform: translate(-50%, -20%);
  z-index: 1000;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img {
  position: relative;
  height: 312px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #424242;
  border-radius: 4px;
}

.home-product-item__img-up {
  position: relative;
  height: 312px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 1s;
}

.home-product-item__img-up:hover {
  animation: scaleM 1s ease-in-out;
}

@keyframes scaleM {
  5% {
    transform: scale(1.05);
  }
}

.home-product-item__img-top {
  position: relative;
  display: flex;
  height: 255px;
  border: 1px solid #424242;
  border-radius: 4px;
  width: 340px;
}

.home-product-item__img-top:hover {
  border: 2px solid #a0a2b4;
}

.home-product-item__name-top:hover {
  text-decoration: underline;
}

.home-product-item__number {
  position: absolute;
  bottom: -5%;
  left: 1%;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 1000;
}

.top1 {
  z-index: 5;
  z-index: 5000;
  border-radius: 4px;
  width: 50%;
  border: 2px solid #9d99a2;
  border-radius: 4px;
}

.top2 {
  position: absolute;
  left: 12.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 4000;
  border: 2px solid #9d99a2;
}
.top3 {
  position: absolute;
  left: 25%;
  height: 100%;
  border-radius: 4px;
  z-index: 3000;
  border: 2px solid #9d99a2;
}
.top4 {
  position: absolute;
  left: 37.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 2000;
  border: 2px solid #9d99a2;
}
.top5 {
  position: absolute;
  left: 50%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #9d99a2;
  z-index: 1000;
}

.home-product-item__name {
  margin: 20px 0px 6px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__name-black {
  margin: 20px 0px 6px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__name-top {
  margin: 12px 0px 8px !important;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  font-size: 1.3rem;
  color: #9e9d9d;
  margin-right: 6px;
}

.home-product-item__price-old-top {
  font-size: 1.3rem;
  color: rgb(212 212 212);
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: #f06448;
}

.home-product-item__action {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
}

.home-product-item__action-top {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
  font-size: 1.2rem;
  color: rgb(163 163 163);
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__heart-like .home-product-item__heart-like-fill {
  display: inline-block;
}

.home-product-item__heart-like .home-product-item__heart-like-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1.3rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__sold {
  font-size: 1.3rem;
  margin-left: 6px;
}

.home-product-item__sold-black {
  font-size: 1.3rem;
  color: #000;
  margin-left: 6px;
}

.home-product-item__rating-gold {
  color: #fbbf24;
  font-size: 1.4rem;
}

.home-product-item__origin {
  margin: 4px 10px 0;
  display: flex;
  justify-content: space-between;
}

.home-product-item__brand {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__origin-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--primary-color);
  background-color: #9b2020;
  border-radius: 3px;
}

.home-product-item__favourite::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  background-color: #9b2020;
  padding: 4px 5px;
  border-radius: 3px;
}

.sixteen {
  background-color: #e88021 !important;
}

.thirteen {
  background-color: #ddbc3f !important;
}

.p {
  background-color: #579b41 !important;
}

.k {
  background-color: #006ee6 !important;
}

.home-product-item__sale-off {
  position: absolute;
  top: 7px;
  right: 6px;
  text-align: center;
  width: 82px;
  height: 24px;
  background-color: #ff4d4d;
  border-radius: 4px;
}

.home-product-item__sale-off-percent {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #ee4d2d;
}

.home-product-item__sale-off-label {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3rem;
  color: var(--white-color);
}

.home-product_pagination {
  margin: 50px 0 32px 0;
}

// Block
.block {
  padding: 60px 0px;

  .title {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    color: rgb(216, 45, 139);
  }

  .descriptions {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.85);
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;

    .description-item + .description-item {
      margin-top: 6px;
    }

    .title-useful {
      margin: 32px 0 12px;
      color: rgb(170, 13, 108);
      font-weight: 600;
    }

    .list-usefuls {
      color: rgba(0, 0, 0, 0.85);
      .useful-item + .useful-item {
        margin-top: 6px;
      }
    }
  }
}
