.wrap {
  width: 100%;
  height: 62px;
  h1,
  h2,
  h3 {
    margin: 0;
  }

  .main {
    margin-top: 62px;
    max-width: 100%;
  }
}

.landing {
  padding: 80px 200px;
  background-color: #fff0f6;
  .landing-item {
    .landing-content {
      text-align: left;
      .btn {
        display: inline-block;
        padding: 9px 12px;
        background-color: var(--pri-color);
        border-radius: 5px;
        border-color: transparent;
        margin-top: 24px;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        &:hover {
          background-color: rgba(216, 45, 139, 0.8);
        }
      }
    }
    img {
      box-sizing: border-box;
      padding: 0px;
      border: none;
      margin: auto;
      display: block;
      width: 532px;
    }
  }
}

.landing-header {
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #d82d8b;
}

.services {
  margin-top: 24px;
  list-style: none;
  padding: 0;
}

.service-description {
  display: flex;
  svg {
    margin-right: 6px;
  }
}

.service-description + .service-description {
  margin-top: 16px;
}

.moviesTop {
  display: block;
  margin-top: 40px;
  padding: 40px 0;
  background-image: url('https://homepage.momocdn.net/img/momo-upload-api-211001091715-637686766356856456.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 660px;
  background-color: rgba(0, 0, 0, 1);
  .playing-movie {
    padding: 0 200px;
    .heading-movie {
      font-weight: 700;
      margin-bottom: 32px;
      text-align: center;
    }
    .list-movie {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      transform: translate3d(0px, 0px, 0px);

      .movie-item {
        width: 20%;
        justify-content: center;
      }
    }
    .btn-more {
      display: block;
      padding: 9px 12px;
      background-color: var(--pri-color);
      border-radius: 5px;
      border-color: transparent;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;

      &:hover {
        background-color: rgba(216, 45, 139, 0.9);
      }
    }
  }
}

/* movie-item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item-link {
  text-decoration: none;
  color: #fff;
}

.home-product-item {
  position: relative;
  background-color: var(--white-color);
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  overflow: hidden;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img-top {
  position: relative;
  display: flex;
  height: 255px;
  border: 1px solid #424242;
  border-radius: 4px;
  width: 340px;
}

.home-product-item__img-top:hover {
  border: 2px solid #a0a2b4;
}

.home-product-item__name-top:hover {
  text-decoration: underline;
}

.home-product-item__number {
  position: absolute;
  bottom: -5%;
  left: 1%;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  z-index: 1000;
}

.top1 {
  z-index: 5;
  z-index: 5000;
  border-radius: 4px;
  width: 50%;
  border: 2px solid #9d99a2;
  border-radius: 4px;
}

.top2 {
  position: absolute;
  left: 12.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 4000;
  border: 2px solid #9d99a2;
}
.top3 {
  position: absolute;
  left: 25%;
  height: 100%;
  border-radius: 4px;
  z-index: 3000;
  border: 2px solid #9d99a2;
}
.top4 {
  position: absolute;
  left: 37.5%;
  height: 100%;
  border-radius: 4px;
  z-index: 2000;
  border: 2px solid #9d99a2;
}
.top5 {
  position: absolute;
  left: 50%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #9d99a2;
  z-index: 1000;
}

.home-product-item__name-top {
  margin: 12px 0px 8px !important;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  font-size: 1.3rem;
  color: #9e9d9d;
  margin-right: 6px;
}

.home-product-item__price-old-top {
  font-size: 1.3rem;
  color: rgb(212 212 212);
}

.home-product-item__action-top {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 6px;
  font-size: 1.2rem;
  color: rgb(163 163 163);
}

.home-product-item__sold {
  font-size: 1.3rem;
  margin-left: 6px;
}

.home-product-item__brand {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product-item__origin-name {
  font-size: 1.2rem;
  font-weight: 300;
  color: #595959;
}

.home-product_pagination {
  margin: 50px 0 32px 0;
}

// Block
.block {
  padding: 60px 0px;

  .title {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    color: rgb(216, 45, 139);
  }

  .descriptions {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.85);
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;

    .description-item + .description-item {
      margin-top: 6px;
    }

    .title-useful {
      margin: 32px 0 12px;
      color: rgb(170, 13, 108);
      font-weight: 600;
    }

    .list-usefuls {
      color: rgba(0, 0, 0, 0.85);
      .useful-item + .useful-item {
        margin-top: 6px;
      }
    }
  }
}
